@import url("https://fonts.googleapis.com/css?family=Lato");

$chatDetailsColor: #8b929e;
$regularFontSize: 15px;

.row {
    margin-right: 0 !important;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
h2 {
    margin: 10px 0 10px 0;
}
h3 {
    font-size: 15px;
}
hr {
    border: solid 1px #d1d4e1;
}
// img {
//     height: 45px;
//     width: 45px;
//     border-radius: 50%;
// }

.sidebar {
    min-height: 100vh;
    width: 15rem;
    background: #d7d9f3;
}

.content-wrapper {
    background: #f3f3fc;
    flex-direction: column !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    width: 100%;
    padding: 0em 0 0 1em;
}

.wrapper {
    display: flex;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #9ea8ba;

    li {
        margin: 2em 0 5px 0em;
        height: 50px;
        font-weight: 1000;
        cursor: pointer;
        // box-shadow: 0px 8px 11px 0px #dadadf;

        div {
            display: table-cell;
            vertical-align: middle;
            height: 50px;
            margin: 0 auto;
        }

        i {
            width: 10px;
            padding-left: 40px;
        }
        span {
            padding-left: 30px;
        }

        &:hover {
            transition: all 0.3s ease-out;
            border-left: solid 3px #2a8bf2;

            div {
                color: #2a8bf2;
            }    
        }
    }
    li:first-child {
        border-left: solid 3px #2a8bf2;

        div {
            color: #2a8bf2;
        }
    }
}

.image-placeholder {
    height: 100px;
    padding: 2em 0 6em 0;
    text-align: center;
    img {
        height: 100px;
        width: 100px;
        border: 5px solid #fff;
    }
}

.input-search {
    border: 0;
    outline: 0;
    background: transparent;
    width: 100%;
}

.scroll::-webkit-scrollbar {
    height: 3px;
    width: 6px;
}
.scroll::-webkit-scrollbar-thumb {
    background: #c1c5ce;
    border-radius: 10px;
}

.chat-lists {
    margin-top: 25px;
    height: 85vh;
    overflow-y: auto;
    // background: green;
}

$width: 30em;

.caret-sales-status {
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
}



.chat {
    font-size: $regularFontSize;
    height: 90px;
    min-width: 27em;
    box-shadow: 0px 8px 11px -6px #dadadf;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: transform 0.2s ease-out;

    cursor: pointer;

    padding: 20px 0 0 20px;

    animation-name: chatsListAnimation;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    opacity: 0;
    transform: translateY(100px);
}

@keyframes chatsListAnimation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.chat-time {
    text-align: center;
    color: #454d57;
    font-size: 14px;
    font-weight: 700;
}

.chat:hover {
    // transform: scale(1.5);
}
.chat-header {
    margin: 0 0 5px 0;
}
.chat-search {
    padding-top: 2em;
    padding-bottom: 1em;
}
.chat-search-base {
    min-width: $width;
}
.chat-other-details {
    text-align: right;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0 15px 10px 0;
        }
    }
}

.chat-notification {
    background: #fa474f;
    height: 20px;
    width: 20px;
    // float: right;
    border-radius: 50%;
    text-align: center;
    color: #fff;

    display: table-cell;
    vertical-align: middle;
}

.chat-details {
    color: $chatDetailsColor;
}
.profile-status {
    position: absolute;
    left: 41px;
    top: -3px;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 2px 4px 4px 1px #dadadf;

    background: #7cd62a;
    border: solid 2px #fff;
}

.message-details {
    padding-bottom: 15px;

    transform: translateY(100px);
    opacity: 0;

    animation-name: testanim;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes testanim {
    0% {
        opacity: 0;
        transform: scale(0) translateY(100px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.message-owner {
    font-size: $regularFontSize;
    max-width: 300px;
    height: 30px;
    border-radius: 50px;
    background: #eae8ed;
    padding: 10px 30px 10px 30px;
    display: table-cell;
    vertical-align: middle;

    color: #ffffff;
    text-align: right;
    background: #2a8bf2;
}

// .animate-enter {
//     transform: translateY(150px) scale(0);

//     div div div {
//         transition: width 2s cubic-bezier(0.68, -0.24, 0.37, 1.33) 0.6s;
//         width: 20px !important;
//     }
// }
// .animate-enter-active {
//     transition: transform 0.45s cubic-bezier(0.68, -0.34, 0.37, 1.53);
// }
// .animate-enter-done {
//     div div div {
//         transition: width 0.4s cubic-bezier(0.68, -0.24, 0.37, 1.33) 0.6s;
//     }
// }

.animate-exit {
    opacity: 1;
}
.animate-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}



.message-recipient {
    font-size: $regularFontSize;
    max-width: 300px;
    height: 30px;
    border-radius: 50px;
    color: #454d57;
    background: #eae8ed;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    display: table-cell;
    vertical-align: middle;
}

.message-textbox-layout {
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 15px 20px 20px 0;
}

.chat-message-list-panel {
    flex-basis: 58%;
    max-width: 58%;

    input {
        width: 100%;
        border: 0;
        outline: 0;
        background: transparent;
    }
    .message-panel {
        padding-top: 5px;
    }
}
.chat-message-list-panel-details {
    padding-right: 1em;
    height: 75vh; //use `vh` for viewport height resolution
    overflow-y: auto;
}

.btn-send-message {
    height: 2.5em;
    width: 2.5em;
    background: #2a8bf2;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    border: 0;
    transition: box-shadow 0.5s;
    outline: 0;

    &:hover {
        box-shadow: 2px 4px 4px 1px #bbdafb;
    }
}

.img-profile {
    height: 100px;
    width: 100px;
    border: 5px solid #fff;
}